<section id="main-content">
  <div id="guts">

    <h2 class="page-title">New Quote</h2><%= link_to "Home", root_path %>
    <div id="project">
      <span class="quote">Quote# Q1234</span>
      <div id="existing-customer"><a href="existing_quotes">Existing Customer</a></div>
      <div id="new-project"><a href="new_quote">New Project</a></div>
      <%= form_for :quote do |f| %>

      <div id="customer-demographics">
        <h2>Customer Demographics/Info</h2>
        <%= f.text_area :body, size: "50x12" %>
      </div>

      <div id="job-desc">
        <h2>Description Of Job</h2>
        <%= f.text_area :body, size: "50x12" %>
        </div>

      <div id="dates">
        <h2 class="page-title">Critical Dates</h2>
        <br><label for="calendar">Quote Due:</label>
        <%= select_date Date.today, prefix: :start_date %>
        <br><label for="calendar">Artwork/Layout Due:</label>
        <%= select_date Date.today, prefix: :start_date %>
      </div>

    </div>

    <div style="clear:both;"></div>

          <p>
            <%= f.submit %>
          </p>
      <% end %>

  </div>

</section>